* {
    margin: 0;
}

body{
    min-height: 100%;
}

header {
    background-color: darkgreen;
    border-bottom: 10px black solid;
    margin: 0px;
    text-align: right;
    padding: 15px;
}

h1{
    margin: 10px;
    font-size: 200%;
}

footer {
    background-color: darkgreen;
    padding: 5px;
}

.footer{
    color: white;
    margin: 5px;
}
.header-text {
    padding:15px;
    color: white;

}

h1, p, h2 {
    text-align: center;
}

img {

    display: block;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    height: 200px; 
}
 
.main {
    margin-bottom: 20px;
}

img {
    margin-bottom: 20px;
}

#input{
    width: 200px;
}

#submit{
    margin-bottom: 5px;
}

.contact-us{
    padding-bottom: 25px;
    background-color: lightsalmon;
}
label {
    display: inline;
    align-content: center;
}
.text{
    display: block;
}
.container-contact {
    background-color: lightsalmon;
}
#name{
    padding-top: 20px;
}
.form {
    margin: auto 5px orange;
    margin-left: 500px;
    margin-right: 500px;
   border: auto 5px orange;;
   

}
.contact-form{
    margin-top: 5px;
}
 label,  input {
    display: inline;
 }
.form {
    text-align: center;
    align: center;
    
}

.text-input {
    align-content: center;
    margin: auto;
}
form {
    border-radius: 20px;
    border: 2px brown solid;
}