header {
    background-color: darkgreen;
    border-bottom: 10px black solid;
    margin: 0px;
    text-align: right;
    padding: 15px;
}

footer {
    background-color: darkgreen;
    padding: 5px;
}

.header-text {
    padding:15px;
    color: white;

}

h1, p, h2 {
    text-align: center;
}

img {

    display: block;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    height: 200px; 
}

.text-input {
    display: block;
    align-content: center;
}

.container-contact {
    background-color: lightsalmon;
}

.contact-form {
    margin: auto 5px orange;
    
}